@import url("https://fonts.googleapis.com/css?family=Lobster");

blockquote {
  font-family: Lobster, cursive !important;
  font-size: 16px;
  margin: 1rem 0 2rem 0;
  border-left: 0.4rem solid #da1c5e;
  padding: 0rem;
  padding-left: 1rem;
  letter-spacing: 1px;
}